@{
    Dictionary<string, List<string>> Dic = ViewData["Dic"] as Dictionary<string, List<string>>;
    string title = ViewBag.BlockTitle as string;

    List<string> BtnList = ViewBag.BtnList == null ? Dic == null ? new List<string> { "添加", "编辑", "删除", "导出" } : (Dic.ContainsKey(title) ? Dic[title] : new List<string>()) : (Dic.ContainsKey(title) ? Dic[title] : new List<string>());
}
<script type="text/javascript">
    function print(url,title) {
        window.open(url, "_blank");
    }
</script>
<div class="ibox float-e-margins" style="border-left: 1px solid #E0E0E0; border-right: 1px solid #E0E0E0;
    border-bottom: 1px solid #E0E0E0;">
    <div class="ibox-title">
        <h5>
            @ViewBag.BlockTitle</h5>
        <div class="ibox-tools">
            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a><a class="close-link"><i
                class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="ibox-content" style="display: block; padding: 0px 15px 15px 15px;">
        <div class="form-group" style="margin-top: 10px; margin-bottom: 0px;">
            @if (BtnList.Contains("添加"))
            {
                <button  type="button" class="btn btn-default " onclick="add('@ViewBag.addUrl','@ViewBag.BlockTitle','jqGridList_@ViewBag.Index')">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;添加
                </button>
            }
            @if (BtnList.Contains("编辑"))
            {
                <button type="button" class="btn btn-default " onclick="edit('@ViewBag.editUrl','@ViewBag.BlockTitle','jqGridList_@ViewBag.Index')">
                    <i class="fa fa-edit"></i>&nbsp;编辑
                </button>
            }
            @if (BtnList.Contains("删除"))
            {
                <button type="button" class="btn btn-default " onclick="delList('@ViewBag.deleteUrl','jqGridList_@ViewBag.Index')">
                    <i class="fa fa-dedent"></i>&nbsp;删除
                </button>
            }
            @if (BtnList.Contains("导出"))
            {
                <button type="button" class="btn btn-default" onclick="GetCheckBoxExportList('@ViewBag.exportUrl','jqGridList_@ViewBag.Index')">
                    <i class="fa fa-download"></i>&nbsp;导出
                </button>
            }
            @if (BtnList.Contains("媒体选位"))
            {
                <button type="button" class="btn btn-default" onclick="mediaSelection('@ViewBag.SelectionUrl','@ViewBag.BlockTitle','jqGridList_@ViewBag.Index')">
                    <i class="fa fa-floppy-o"></i>&nbsp;媒体选位
                </button>
            }
            @if (BtnList.Contains("媒体调整"))
            {
                <button type="button" class="btn btn-default" onclick="MediaChange('@ViewBag.MediaChangeUrl','jqGridList_@ViewBag.Index')">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;媒体调整
                </button>
            }
             @if (BtnList.Contains("发布调整"))
            {
                <button type="button" class="btn btn-default" onclick="AdOrderAdjust('@ViewBag.AdOrderId','@ViewBag.BlockTitle','@ViewBag.ListInfo','jqGridList_@ViewBag.Index')">
                    <i class="Hui-iconfont">&#xe603;</i>&nbsp;发布调整
                </button>
            }
              @if (BtnList.Contains("制作确认"))
              {
                <button type="button" class="btn btn-default" onclick="MakeAdjust('@ViewBag.ProcessId','@ViewBag.BlockTitle','@ViewBag.ListInfo','jqGridList_@ViewBag.Index')">
                    <i class="Hui-iconfont">&#xe603;</i>&nbsp;制作确认
                </button>
              }
             @if (BtnList.Contains("上传"))
            {
                <button type="button" class="btn btn-default" onclick="add('@ViewBag.UploadUrl','@ViewBag.BlockTitle','jqGridList_@ViewBag.Index')">
                    <i class="glyphicon glyphicon-plus"></i>&nbsp;上传
                </button>
            }
            @if (BtnList.Contains("预订单"))
            {
                <button type="button" class="btn btn-default" onclick="print('@ViewBag.PrintUrl','@ViewBag.BlockTitle')">
                    <i class='Hui-iconfont'>&#xe6bf;</i>&nbsp;预订单
                </button>
            }
             @if (BtnList.Contains("确认单"))
            {
                <button type="button" class="btn btn-default" onclick="print('@ViewBag.PrintUrl','@ViewBag.BlockTitle')">
                    <i class='Hui-iconfont'>&#xe6bf;</i> &nbsp;确认单
                </button>
            }
            @RenderSection("additionalButton", false)
        </div>
        <div class="jqGrid_wrapper">
            <table id="jqGridList_@ViewBag.Index">
            </table>
            <div id="jqGridPager_@ViewBag.Index">
            </div>
        </div>
    </div>
</div>
@RenderBody()
