@using Bitshare.DataDecision.Model;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - @Bitshare.Common.UseTools.GetProjectTitle()</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <!--[if lt IE 9]>
    @Scripts.Render("~/Resource/js/html5.js")
    @Scripts.Render("~/Resource/js/respond.min.js")
    @Scripts.Render("~/Resource/js/PIE_IE678.js")
  
    <![endif]-->
    @RenderSection("header", required: false)
    @Scripts.Render("~/Resource/js/jquery.min.js")
    @Scripts.Render("~/Resource/js/grid.locale-cn.js")
    @Styles.Render("~/Resource/css/style.min.css")
    @Styles.Render("~/Resource/css/bootstrap.min.css")
    @Styles.Render("~/Resource/css/jquery-ui.min.css")
    @Styles.Render("~/Resource/css/ui.jqgrid-bootstrap.css")
    @Styles.Render("~/Resource/css/font-awesome.min.css")
    @Styles.Render("~/Resource/css/animate.min.css")
    @Scripts.Render("~/Resource/js/bootstrap.min.js")
    @Scripts.Render("~/Resource/js/Comm.js")
    @Scripts.Render("~/Resource/js/json2.js")
    @Scripts.Render("~/Resource/js/jquery.form.js")
    @Scripts.Render("~/Resource/js/plugins/layer/layer.min.js")
    @Scripts.Render("~/Resource/js/jquery.jqGrid.min.js")
    @Scripts.Render("~/Resource/js/JQ.js")
    @Styles.Render("~/Resource/css/iconfont.css")
</head>
<body>
    <div class="animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox ">
                    <div>
                        <nav class="breadcrumb">
                        <i class="Hui-iconfont"> </i> 首页 
                        <span class="c-gray en">&gt;</span> 
                        @ViewBag.FirstItem 
                        <span class="c-gray en">&gt;</span> 
                         @ViewBag.SecondItem
                    </nav>
                    </div>
                    <div class="ibox-content">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/Resource/js/content.min.js")
    <script type="text/javascript">
       
    </script>
</body>
</html>
