@model Bitshare.DataDecision.Model.tblProcessManage
@{
    ViewBag.Title = "流程信息-编辑";
    Layout = "~/Views/Shared/_OperateNew.cshtml";
    IEnumerable<SelectListItem> RoleList = ViewData["RoleList"] as IEnumerable<SelectListItem>;
    IEnumerable<SelectListItem> StateList = ViewData["StateList"] as IEnumerable<SelectListItem>;
}
@Html.HiddenFor(modelItem => modelItem.Rid)
<div class="form-group">
    <label class="col-sm-2 control-label">
        流程编号<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.ProcessNum, new { @placeholder = "流程编号", @class = "form-control", @required = "" })
    </div>
    <label class="col-sm-2 control-label">
        流程名称<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.ProcessName, new { @placeholder = "流程名称", @class = "form-control", @required = "" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">
        节点编号<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.NodeNum, new { @placeholder = "节点编号", @class = "form-control", @required = "" })
    </div>
    <label class="col-sm-2 control-label">
        节点名称<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.NodeName, new { @placeholder = "节点名称", @class = "form-control", @required = "" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">
        下一节点<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.NodeNameNext, new { @placeholder = "下一节点", @class = "form-control", @required = "" })
    </div>
    <label class="col-sm-2 control-label">
        节点状态<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.DropDownList("NodeType", StateList, new { style = "vertical-align: middle", @class = "form-control", @required = "" })
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">
        执行角色<span style="color: #FF9966"> *</span></label>
    <div class="col-sm-4">
        @Html.DropDownList("ExecutorRole", RoleList, new { @placeholder = "执行角色", @class = "form-control", @required = "" })
    </div>
    <label class="col-sm-2 control-label">
        备注</label>
    <div class="col-sm-4">
        @Html.TextBoxFor(modelItem => modelItem.ReMark, new { @placeholder = "备注", @class = "form-control" })
    </div>
</div>
